.ArticleListItem {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 4px 8px rgba(0,0,0,0.23);
  padding: 16px;
  position: relative;
}

.ArticleListItem::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.19), 0 8px 16px rgba(0,0,0,0.23);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  content: "";
}

.ArticleListItem:hover::after {
  opacity: 1;
}

.ArticleListItem__title {
  font-size: 18px;
  font-family: Merriweather;
  font-weight: normal;
}

.ArticleListItem__author {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 8px;
}

.ArticleListItem__excerpt {
  margin-top: 24px;
}